build/
out/
bin/
release/*.exe
*.o
*.obj
*.exe
*.log
.vscode/
.idea/
.DS_Store
# Visual Studio cache and settings
.vs/
*.ipch
*.db
*.db-shm
*.db-wal
*.sqlite
*.wsuo
DocumentLayout.json
DocumentLayout.backup.json
VSWorkspaceState.json